VITE_FIREBASE_API_KEY=AIzaSyBNoKQDRfjNRUj_SHkNeYeNVsi5a7E6tuE
VITE_FIREBASE_AUTH_DOMAIN=elective-8a9af.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elective-8a9af
VITE_FIREBASE_STORAGE_BUCKET=elective-8a9af.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=60679027623
VITE_FIREBASE_APP_ID=1:60679027623:web:035095cb79bd58de1e5482
VITE_TOMTOM_API_KEY=Hit9NbrGBCORHplye4SRhh9s8vBZtr9N